body {
  font-family: "Lato", sans-serif;
  color: #4472C4;
}
h2 {
 background-color: #4472C4;
 text-align: center;
 color: white;
}
table {
	
}
.button {
	display: inline-block;
	min-width: 360px;
	margin-top: 80px;
	padding: 8px;
/*	border: #bbb solid 1px; */
	cursor: pointer;
}
.hometeam, .homescore {
	text-align: right;
}
#dash {
	text-align: center;
}